@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
$black: #000000;
$white: #ffffff;
$secondary: #e5e5e5;
$transparent30: rgba(0, 0, 0, 0.7);

body {
    font-family: Roboto;
}
.bold {
    font-weight: 700;
}

.secondaryText{
    color:$secondary
}

.font24{
    font-size:24px;
}