@import "../../util/master.scss";
.mainWrapper{
  width:95%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.container::-webkit-scrollbar{
  display: none;
}
.search{
  flex-basis: 50%;
  margin: auto 0;
  display: flex;
  flex-flow: row wrap;
}

.searchBar{
  background-color: $white;
  border: 1px solid $white;
  border-left: 6px solid $black;
  height: 100px;
  font-size: 56px;
  outline:none;
  margin: auto 0;
  padding-left:25px;
  flex-basis: 100%;
  z-index: 1001;
}

.blur{
  position:fixed;
  display: none;
  background: rgba(28,30,44,.9);
  -webkit-backdrop-filter:  blur(10px);
  backdrop-filter: blur(10px);
  padding: 15px 0;
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  left:0;
  top:0
}

.SearchText{
  flex-basis:100%;
  justify-content: center;
}

.image{
  flex-basis:50%;
  margin: auto 0;
  img{
    width: 100%;
  }
}
@media (min-width:320px) {
  .image{
    display:none;
  }
  .search{
    flex-basis:95%;
  }
  .searchBar{
    height:75px;
    font-size:24px;
  }
  .searchBar::-webkit-input-placeholder{
    font-size:24px;
  }
}

@media (min-width:1024px){
  .image{
    display:flex;
  }
  .search{
    flex-basis:50%;
  }
}

::-webkit-input-placeholder { /* Chrome */
    color: $secondary;
    font-weight: 700;
    font-size: 56px;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $secondary;
  font-weight: 700;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $secondary;
  font-weight: 700;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: $secondary;
  font-weight: 700;
  opacity: 1;
}

