header{
    display: flex;
    justify-content: center;
}
.header{
    flex-basis: 95%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}


@media(min-width:320px){
    .sign{
        display:none
    }
}
