@import '../../util/master.scss';
.searchBar {
    background-color: $white;
    border: 1px solid $white;
    border-left: 6px solid $black;
    height: 100px;
    font-size: 56px;
    outline: none;
    margin: auto 0;
    padding-left: 25px;
    flex-basis: 100%;
    z-index: 1001;
  }
  
.blur {
    position: fixed;
    display: block;
    background: rgba(28, 30, 44, 0.9);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 15px 0;
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    left: 0;
    top: 0;
  }